@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using WomenSafety.Data;

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>

    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <div class="dropdown">
                <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Womens">Womens</a>
                </div>
            </div>
        </li>

        @if (SignInManager.IsSignedIn(User))
        {

            <li class="nav-item">
                <div class="dropdown">
                    <a class="text-dark" asp-area="" asp-controller="Home" asp-action="GetThisMapBestDistance">Office</a>
                    <button class="btn dropdown-toggle" type="button" id="ddropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Police Station
                    </button>
                    <div class="dropdown-menu" aria-labelledby="ddropdownMenuButton">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Statistics">Statistics</a>

                        @if (User.IsInRole(SystemRoles.Admin))
                        {
                            <a class="nav-link text-dark" asp-area="" asp-controller="Points" asp-action="Index">Points</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Types" asp-action="Index">Types</a>

                        }

                    </div>
                </div>
            </li>

        }

    </ul>
