@{
    ViewData["Title"] = "Home Page";
}


<style>
    .img {
        width: 45%;
        margin-left: 260px;
        margin-top: 80px;
    }

    .centored {
        margin-left: 330px;
    }

</style>
<h1 class="centored" style="font-size: 62px;">Womens</h1>
<img class="img" src="/pictures/1_in_6_Women 122016.png"/>
