@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<div dir="rtl" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8">


            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">مكان التحرش</th>
                        <th scope="col">النسبة</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>العمل</td>
                        <td>80%</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>الشارع</td>
                        <td>70%</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>السوق</td>
                        <td>50%</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>مواقع التواصل</td>
                        <td>40%</td>
                    </tr>
                </tbody>
            </table>



        </div>
    </div>
</div>
